<a href="https://colab.research.google.com/github/anagarciasaiz/titanic/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INICIALIZACIÓN

regresion logistica, arbol de clasificacion, random forest, bayes, gradient boost tree, svm,red neuronal con los datos del titanic

In [2]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [814 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,077 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,369 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,259 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,753 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,035 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,339 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [31.9 kB]
Fetched 12.0 MB in 3s (3,605 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
45 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=d26d2331f857ff3f05a4b5fc67abe3a6234bc3d649d22a7ad5a0f2166d4ff9fb
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [3]:
from pyspark.ml.feature import StringIndexer

In [4]:
spark=SparkSession.builder.appName('clasificacion_titanic').getOrCreate()

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
data = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/pyspark/titanic.csv" ,header=True, inferSchema=True)
data.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [7]:
# Tratamiento de valores nulos
# Reemplazar valores nulos en 'Age'  con el valor medio
age_median = data.agg({'Age': 'median'}).first()[0]
data = data.fillna({'Age': age_median})

In [8]:
data.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|28.0|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|28.0|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|28.0|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [9]:
# Variables categóricas a numéricas
# Convertir 'Sex'a variable numérica indexada
indexers = [
    StringIndexer(inputCol=column, outputCol=column+"_num").fit(data)
    for column in ["Sex"]
]
for indexer in indexers:
    data = indexer.transform(data)

In [10]:
data.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Sex_num|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|    0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|    1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|    1.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|    1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|    0.0|
|          6|       0|     3|    Moran, Mr. James|  male|28.0|    0|    0|          330877| 8.4583| NULL|       Q|    0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|    0.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|    0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|    1.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|    1.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|    1.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|    1.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|    0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|    0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|    1.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|    1.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|    0.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|28.0|    0|    0|          244373|   13.0| NULL|       S|    0.0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|    1.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|28.0|    0|    0|            2649|  7.225| NULL|       C|    1.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
only showing top 20 rows

In [11]:
# Eliminar columnas no necesarias y las originales de las variables categóricas
data = data.drop("Sex", "Embarked", "Name", "Ticket", "Cabin","PassengerId","Embarked")

In [12]:
# Seleccionar las columnas necesarias
data = data.select("Survived", "Pclass", "Sex_num", "Age", "SibSp", "Parch", "Fare")

In [13]:
from pyspark.sql.functions import col, count, when


def count_nulls(data):
    # Esta expresión generará una lista de columnas con el recuento de nulos para cada una
    exprs = [count(when(col(c).isNull(), c)).alias(c) for c in data.columns]
    # Aplicar la agregación en todas las columnas
    df_nulls = data.agg(*exprs)
    return df_nulls

# Ejecutar la función y mostrar los resultados
null_counts = count_nulls(data)
null_counts.show()

+--------+------+-------+---+-----+-----+----+
|Survived|Pclass|Sex_num|Age|SibSp|Parch|Fare|
+--------+------+-------+---+-----+-----+----+
|       0|     0|      0|  0|    0|    0|   0|
+--------+------+-------+---+-----+-----+----+

In [14]:
data.printSchema()
data.show(10)

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex_num: double (nullable = false)
 |-- Age: double (nullable = false)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)

+--------+------+-------+----+-----+-----+-------+
|Survived|Pclass|Sex_num| Age|SibSp|Parch|   Fare|
+--------+------+-------+----+-----+-----+-------+
|       0|     3|    0.0|22.0|    1|    0|   7.25|
|       1|     1|    1.0|38.0|    1|    0|71.2833|
|       1|     3|    1.0|26.0|    0|    0|  7.925|
|       1|     1|    1.0|35.0|    1|    0|   53.1|
|       0|     3|    0.0|35.0|    0|    0|   8.05|
|       0|     3|    0.0|28.0|    0|    0| 8.4583|
|       0|     1|    0.0|54.0|    0|    0|51.8625|
|       0|     3|    0.0| 2.0|    3|    1| 21.075|
|       1|     3|    1.0|27.0|    0|    2|11.1333|
|       1|     2|    1.0|14.0|    1|    0|30.0708|
+--------+------+-------+----+-----+-----+-------+
only showing top 10 rows

##RANDOM FOREST

In [15]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, StandardScaler

In [17]:
assembler = VectorAssembler(
    inputCols=["Pclass", "Sex_num", "Age", "SibSp", "Parch", "Fare"],
    outputCol="caracteristicas"
)
# Transformar las características
data = assembler.transform(data)

# Escalador para las características
scaler = StandardScaler(inputCol="caracteristicas", outputCol="features_scaled", withStd=True, withMean=False)

# Ajustar el escalador a los datos y transformarlos
scalerModel = scaler.fit(data)
data = scalerModel.transform(data)

# Dividir los datos en conjuntos de entrenamiento y prueba
train_data, test_data = data.randomSplit([0.8, 0.2], seed=53)

In [18]:
# Definir el modelo de Random Forest
rf = RandomForestClassifier(featuresCol="features_scaled", labelCol="Survived", numTrees=10)

# Entrenar el modelo
rfModel = rf.fit(train_data)

In [19]:
# Realizar predicciones en el conjunto de prueba
predictions = rfModel.transform(test_data)

# Evaluador para la precisión
evaluator_precision = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")

# Calcular la precisión en el conjunto de datos de prueba
precision = evaluator_precision.evaluate(predictions)
print("Precisión: ", precision)

Precisión:  0.8265895953757225

##ARBOL DE CLASIFICACION

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import VectorAssembler,StringIndexer,MinMaxScaler
from pyspark.ml import Pipeline

In [ ]:
assembler = VectorAssembler(
    inputCols=["Pclass","Sex_num", "Age","SibSp","Parch", "Fare"],
    outputCol="caracteristicas_arbol"
)

In [ ]:
scaler=MinMaxScaler(inputCol="caracteristicas_arbol",outputCol="carcateristicas_escaladas")
pipeline=Pipeline(stages=[assembler,scaler])
scalerModel=pipeline.fit(data)
scaledData=scalerModel.transform(data)

data = assembler.transform(data)
train_data, test_data = data.randomSplit([0.8, 0.2], seed=42)

In [ ]:
dc = DecisionTreeClassifier(featuresCol="caracteristicas_arbol", labelCol="Survived")

# Entrena el modelo
dcModel = dc.fit(train_data)

In [ ]:
predictions = dcModel.transform(test_data)


evaluator_precision = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")

# Calcular la precisión en el conjunto de datos de prueba
precision = evaluator_precision.evaluate(predictions)
print("Precisión: ", precision)

Precisión:  0.7724137931034483

In [ ]:
predictions.show()

+--------+------+-------+----+-----+-----+--------+--------------------+--------------------+---------------------+-------------+--------------------+----------+
|Survived|Pclass|Sex_num| Age|SibSp|Parch|    Fare|     caracteristicas|     features_scaled|caracteristicas_arbol|rawPrediction|         probability|prediction|
+--------+------+-------+----+-----+-----+--------+--------------------+--------------------+---------------------+-------------+--------------------+----------+
|       0|     1|    0.0|19.0|    3|    2|   263.0|[1.0,0.0,19.0,3.0...|[1.19607032390132...| [1.0,0.0,19.0,3.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|24.0|    0|    1|247.5208|[1.0,0.0,24.0,0.0...|[1.19607032390132...| [1.0,0.0,24.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|28.0|    0|    0|     0.0|(6,[0,2],[1.0,28.0])|(6,[0,2],[1.19607...| (6,[0,2],[1.0,28.0])|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|28.0|    0|    0| 27.7208|[1.0,0.0,28.0,0.0...|[1.19607032390132...| [1.0,0.0,28.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|28.0|    0|    0|    42.4|[1.0,0.0,28.0,0.0...|[1.19607032390132...| [1.0,0.0,28.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|28.0|    0|    0|221.7792|[1.0,0.0,28.0,0.0...|[1.19607032390132...| [1.0,0.0,28.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|31.0|    0|    0| 50.4958|[1.0,0.0,31.0,0.0...|[1.19607032390132...| [1.0,0.0,31.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|37.0|    1|    0|    53.1|[1.0,0.0,37.0,1.0...|[1.19607032390132...| [1.0,0.0,37.0,1.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|45.0|    1|    0|  83.475|[1.0,0.0,45.0,1.0...|[1.19607032390132...| [1.0,0.0,45.0,1.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|45.5|    0|    0|    28.5|[1.0,0.0,45.5,0.0...|[1.19607032390132...| [1.0,0.0,45.5,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|46.0|    0|    0|    79.2|[1.0,0.0,46.0,0.0...|[1.19607032390132...| [1.0,0.0,46.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|47.0|    0|    0| 25.5875|[1.0,0.0,47.0,0.0...|[1.19607032390132...| [1.0,0.0,47.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|47.0|    0|    0|    38.5|[1.0,0.0,47.0,0.0...|[1.19607032390132...| [1.0,0.0,47.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|50.0|    1|    0| 106.425|[1.0,0.0,50.0,1.0...|[1.19607032390132...| [1.0,0.0,50.0,1.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|56.0|    0|    0| 30.6958|[1.0,0.0,56.0,0.0...|[1.19607032390132...| [1.0,0.0,56.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    0.0|62.0|    0|    0|   26.55|[1.0,0.0,62.0,0.0...|[1.19607032390132...| [1.0,0.0,62.0,0.0...|  [61.0,33.0]|[0.64893617021276...|       0.0|
|       0|     1|    1.0| 2.0|    1|    2|  151.55|[1.0,1.0,2.0,1.0,...|[1.19607032390132...| [1.0,1.0,2.0,1.0,...|   [1.0,77.0]|[0.01282051282051...|       1.0|
|       0|     2|    0.0|24.0|    2|    0|    73.5|[2.0,0.0,24.0,2.0...|[2.39214064780264...| [2.0,0.0,24.0,2.0...|    [8.0,0.0]|           [1.0,0.0]|       0.0|
|       0|     2|    0.0|28.0|    0|    0|     0.0|(6,[0,2],[2.0,28.0])|(6,[0,2],[2.39214...| (6,[0,2],[2.0,28.0])| [319.0,36.0]|[0.89859154929577...|       0.0|
|       0|     2|    0.0|28.0|    0|    0|    10.5|[2.0,0.0,28.0,0.0...|[2.39214064780264...| [2.0,0.0,28.0,0.0...| [319.0,36.0]|[0.89859154929577...|       0.0|
+--------+------+-------+----+-----+-----+--------+--------------------+--------------------+---------------------+-------------+--------------------+----------+
only showing top 20 rows

##NAIVE BAYES

##REGRESION LOGISTICA

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, StandardScaler

In [ ]:
assembler = VectorAssembler(
    inputCols=["Pclass","Sex_num", "Age","SibSp","Parch", "Fare"],
    outputCol="caracteristicas"
)
data = assembler.transform(data)

# Escalador para las características
scaler = StandardScaler(inputCol="caracteristicas", outputCol="features_scaled", withStd=True, withMean=False)

# Ajustar el escalador a los datos y transformarlos
scalerModel = scaler.fit(data)
data = scalerModel.transform(data)
train_data, test_data = data.randomSplit([0.8, 0.2], seed=53)

In [ ]:
lr = LogisticRegression(featuresCol="features_scaled", labelCol="Survived")

# Entrena el modelo
lrModel = lr.fit(train_data)

In [ ]:
predictions = lrModel.transform(test_data)


evaluator_precision = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")

# Calcular la precisión en el conjunto de datos de prueba
precision = evaluator_precision.evaluate(predictions)
print("Precisión: ", precision)

Precisión:  0.7861271676300579

In [ ]:
predictions.show()

+--------+------+-------+----+-----+-----+-------+--------------------+--------------------+--------------------+--------------------+----------+
|Survived|Pclass|Sex_num| Age|SibSp|Parch|   Fare|     caracteristicas|     features_scaled|       rawPrediction|         probability|prediction|
+--------+------+-------+----+-----+-----+-------+--------------------+--------------------+--------------------+--------------------+----------+
|       0|     1|    0.0|18.0|    1|    0|  108.9|[1.0,0.0,18.0,1.0...|[1.19607032390132...|[-0.4687616755495...|[0.38490938024542...|       1.0|
|       0|     1|    0.0|21.0|    0|    1|77.2875|[1.0,0.0,21.0,0.0...|[1.19607032390132...|[-0.4287025134392...|[0.39443620190171...|       1.0|
|       0|     1|    0.0|28.0|    0|    0|   26.0|[1.0,0.0,28.0,0.0...|[1.19607032390132...|[-0.0660690277054...|[0.48348874876454...|       1.0|
|       0|     1|    0.0|28.0|    0|    0|   39.6|[1.0,0.0,28.0,0.0...|[1.19607032390132...|[-0.1100625011671...|[0.47251211756172...|       1.0|
|       0|     1|    0.0|28.0|    0|    0|227.525|[1.0,0.0,28.0,0.0...|[1.19607032390132...|[-0.7179649644234...|[0.32784126895124...|       1.0|
|       0|     1|    0.0|37.0|    0|    1|   29.7|[1.0,0.0,37.0,0.0...|[1.19607032390132...|[0.46373563104901...|[0.61389999665454...|       0.0|
|       0|     1|    0.0|47.0|    0|    0|34.0208|[1.0,0.0,47.0,0.0...|[1.19607032390132...|[0.78495561363599...|[0.68674717808467...|       0.0|
|       0|     1|    0.0|54.0|    0|    1|77.2875|[1.0,0.0,54.0,0.0...|[1.19607032390132...|[1.09445667057050...|[0.74922001239652...|       0.0|
|       0|     1|    0.0|56.0|    0|    0|  26.55|[1.0,0.0,56.0,0.0...|[1.19607032390132...|[1.22452931393350...|[0.77285964219219...|       0.0|
|       0|     1|    0.0|56.0|    0|    0|30.6958|[1.0,0.0,56.0,0.0...|[1.19607032390132...|[1.21111842111899...|[0.77049678095052...|       0.0|
|       0|     1|    0.0|58.0|    0|    0|   29.7|[1.0,0.0,58.0,0.0...|[1.19607032390132...|[1.30665232694314...|[0.78695242986369...|       0.0|
|       0|     1|    0.0|58.0|    0|    2|113.275|[1.0,0.0,58.0,0.0...|[1.19607032390132...|[1.28903557048439...|[0.78398390474232...|       0.0|
|       0|     1|    0.0|61.0|    0|    0|32.3208|[1.0,0.0,61.0,0.0...|[1.19607032390132...|[1.43664354255009...|[0.80793434658570...|       0.0|
|       0|     1|    0.0|64.0|    0|    0|   26.0|[1.0,0.0,64.0,0.0...|[1.19607032390132...|[1.59555917303240...|[0.83139680285571...|       0.0|
|       0|     2|    0.0|16.0|    0|    0|   10.5|[2.0,0.0,16.0,0.0...|[2.39214064780264...|[0.52921737486654...|[0.62930055859014...|       0.0|
|       0|     2|    0.0|18.0|    0|    0|   73.5|[2.0,0.0,18.0,0.0...|[2.39214064780264...|[0.41773675650254...|[0.60294154893450...|       0.0|
|       0|     2|    0.0|27.0|    0|    0|   13.0|[2.0,0.0,27.0,0.0...|[2.39214064780264...|[1.02885006730697...|[0.73669289666650...|       0.0|
|       0|     2|    0.0|27.0|    0|    0|   13.0|[2.0,0.0,27.0,0.0...|[2.39214064780264...|[1.02885006730697...|[0.73669289666650...|       0.0|
|       0|     2|    0.0|28.0|    0|    0|    0.0|(6,[0,2],[2.0,28.0])|(6,[0,2],[2.39214...|[1.11705899114295...|[0.75344278209428...|       0.0|
|       0|     2|    0.0|28.0|    0|    0|    0.0|(6,[0,2],[2.0,28.0])|(6,[0,2],[2.39214...|[1.11705899114295...|[0.75344278209428...|       0.0|
+--------+------+-------+----+-----+-----+-------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

##GRADIENT BOOST TREE

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
assembler = VectorAssembler(
    inputCols=["Pclass", "Sex_num", "Age", "SibSp", "Parch", "Fare"],
    outputCol="caracteristicas_gbt"
)

data = assembler.transform(data)

scaler = StandardScaler(inputCol="caracteristicas_gbt", outputCol="features_gbt_scaled", withStd=True, withMean=False)
scalerModel = scaler.fit(data)
data = scalerModel.transform(data)

train_data, test_data = data.randomSplit([0.8, 0.2], seed=53)

In [ ]:
# Crear el modelo Gradient-Boosted Trees
gbt = GBTClassifier(featuresCol="features_gbt_scaled", labelCol="Survived", maxIter=10)

# Entrenar el modelo
gbtModel = gbt.fit(train_data)

# Realizar predicciones en el conjunto de prueba
predictions = gbtModel.transform(test_data)

In [ ]:
evaluator_precision = MulticlassClassificationEvaluator(
    labelCol="Survived", predictionCol="prediction", metricName="accuracy"
)

# Calcular la precisión
precision = evaluator_precision.evaluate(predictions)
print("Precisión con GBT: ", precision)

Precisión con GBT:  0.8265895953757225

In [ ]:
predictions.show()

+--------+------+-------+----+-----+-----+-------+--------------------+--------------------+--------------------+--------------------+----------+
|Survived|Pclass|Sex_num| Age|SibSp|Parch|   Fare| caracteristicas_gbt| features_gbt_scaled|       rawPrediction|         probability|prediction|
+--------+------+-------+----+-----+-----+-------+--------------------+--------------------+--------------------+--------------------+----------+
|       0|     1|    0.0|18.0|    1|    0|  108.9|[1.0,0.0,18.0,1.0...|[1.19607032390132...|[0.33988798191713...|[0.66368869301928...|       0.0|
|       0|     1|    0.0|21.0|    0|    1|77.2875|[1.0,0.0,21.0,0.0...|[1.19607032390132...|[0.45049995700974...|[0.71115494191261...|       0.0|
|       0|     1|    0.0|28.0|    0|    0|   26.0|[1.0,0.0,28.0,0.0...|[1.19607032390132...|[0.97357371023401...|[0.87513526378425...|       0.0|
|       0|     1|    0.0|28.0|    0|    0|   39.6|[1.0,0.0,28.0,0.0...|[1.19607032390132...|[0.32276741200863...|[0.65600354121159...|       0.0|
|       0|     1|    0.0|28.0|    0|    0|227.525|[1.0,0.0,28.0,0.0...|[1.19607032390132...|[0.21465684226929...|[0.60570977073396...|       0.0|
|       0|     1|    0.0|37.0|    0|    1|   29.7|[1.0,0.0,37.0,0.0...|[1.19607032390132...|[0.25264347767587...|[0.62370097855510...|       0.0|
|       0|     1|    0.0|47.0|    0|    0|34.0208|[1.0,0.0,47.0,0.0...|[1.19607032390132...|[0.40688619036216...|[0.69291279266343...|       0.0|
|       0|     1|    0.0|54.0|    0|    1|77.2875|[1.0,0.0,54.0,0.0...|[1.19607032390132...|[0.36608720677257...|[0.67528225118061...|       0.0|
|       0|     1|    0.0|56.0|    0|    0|  26.55|[1.0,0.0,56.0,0.0...|[1.19607032390132...|[0.33331254699636...|[0.66074704988145...|       0.0|
|       0|     1|    0.0|56.0|    0|    0|30.6958|[1.0,0.0,56.0,0.0...|[1.19607032390132...|[0.33331254699636...|[0.66074704988145...|       0.0|
|       0|     1|    0.0|58.0|    0|    0|   29.7|[1.0,0.0,58.0,0.0...|[1.19607032390132...|[0.86986903748079...|[0.85065379306615...|       0.0|
|       0|     1|    0.0|58.0|    0|    2|113.275|[1.0,0.0,58.0,0.0...|[1.19607032390132...|[0.89333560714507...|[0.85651867257514...|       0.0|
|       0|     1|    0.0|61.0|    0|    0|32.3208|[1.0,0.0,61.0,0.0...|[1.19607032390132...|[0.86986903748079...|[0.85065379306615...|       0.0|
|       0|     1|    0.0|64.0|    0|    0|   26.0|[1.0,0.0,64.0,0.0...|[1.19607032390132...|[1.59079927003893...|[0.96013589512530...|       0.0|
|       0|     2|    0.0|16.0|    0|    0|   10.5|[2.0,0.0,16.0,0.0...|[2.39214064780264...|[0.77679555788340...|[0.82543179548251...|       0.0|
|       0|     2|    0.0|18.0|    0|    0|   73.5|[2.0,0.0,18.0,0.0...|[2.39214064780264...|[-0.1273784574017...|[0.43665300865356...|       1.0|
|       0|     2|    0.0|27.0|    0|    0|   13.0|[2.0,0.0,27.0,0.0...|[2.39214064780264...|[0.67575711111072...|[0.79437707474649...|       0.0|
|       0|     2|    0.0|27.0|    0|    0|   13.0|[2.0,0.0,27.0,0.0...|[2.39214064780264...|[0.67575711111072...|[0.79437707474649...|       0.0|
|       0|     2|    0.0|28.0|    0|    0|    0.0|(6,[0,2],[2.0,28.0])|(6,[0,2],[2.39214...|[0.98492508262758...|[0.87759501853931...|       0.0|
|       0|     2|    0.0|28.0|    0|    0|    0.0|(6,[0,2],[2.0,28.0])|(6,[0,2],[2.39214...|[0.98492508262758...|[0.87759501853931...|       0.0|
+--------+------+-------+----+-----+-----+-------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows